<%include header%>

        <div class="tpl-content-wrapper">
            <div class="tpl-content-page-title">
                大棚环境信息
            </div>
            <ol class="am-breadcrumb">
                <li><a href="#" class="am-icon-home">首页</a></li>
                <li><a href="#">可视化报表</a></li>
                <li class="am-active">环境信息数据报表</li>
            </ol>
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">
                        <span class="am-icon-bar-chart"></span> 点状图
                    </div>
                    <div class="tpl-portlet-input tpl-fz-ml">

                    </div>


                </div>
                <div class="tpl-block">
                    <div class="am-g">
                        <div class="am-u-sm-12 am-u-md-6">
                            <div class="am-btn-toolbar">

                            </div>
                        </div>

                        <div class="am-u-sm-12 am-u-md-3">
                            <div class="am-input-group am-input-group-sm">

                            </div>
                        </div>
                    </div>


                    <!--此部分数据请在 js文件夹下中的 app.js 中的 “百度图表A” 处修改数据 插件使用的是 百度echarts-->
                    <div class="tpl-echarts tpl-chart-mb" id="tpl-echarts-A">

                    </div>


                    <div class="portlet-title">
                        <div class="caption font-green bold">
                            <span class="am-icon-code"></span> 折线柱图
                        </div>
                    </div>
                    <div class="tpl-echarts tpl-chart-mb" id="tpl-echarts-C">

                    </div>
                </div>

            </div>










        </div>

    </div>

    <script src="../assets/js/echarts.min.js"></script>
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/amazeui.min.js"></script>
    <script src="../assets/js/app.js"></script>
    <script src="http://cdn.bootcss.com/socket.io/1.7.2/socket.io.min.js"></script>
    <script type="text/javascript">
        $('#chart').addClass('active');
        var echartsA = echarts.init(document.getElementById('tpl-echarts-A'));
        var echartsC = echarts.init(document.getElementById('tpl-echarts-C'));
        var dataBJ = [
    [1,15,555,87,7.2,68,6000],
    [2,25,5511,82,7.2,64,9000],
    [3,16,557,83,7.2,64,5000],
    [4,33,557,89,7.2,66,6000],
    [5,12,524,84,7.2,60,16000],
    [6,12,558,90,7.2,68,3300],
    [7,14,549,87,7.2,68,2700],
    [8,18,555,80,7.2,59,2900],
    [9,26,516,80,7.2,68,6400],
    [10,18,527,82,7.2,61,2700],
    [11,19,519,88,7.2,61,1500],
    [12,21,511,80,7.2,61,700],
    [13,24,538,84,7.2,66,2200],
    [14,18,579,82,7.2,65,4100],
    [15,18,563,81,7.2,64,2600],
    [16,33,556,89,7.2,63,500],
    [17,24,566,81,7.2,62,3100],
    [18,18,542,82,7.2,63,7900],
    [19,17,531,84,7.2,62,1400],
    [20,22,558,87,7.2,63,10000],
    [21,39,555,86,7.2,69,1300],
    [22,24,569,84,7.2,63,3900],
    [23,29,573,80,7.2,66,4800],
    [24,31,512,80,7.2,62,1600],
    [25,22,527,83,7.2,63,2200],
    [26,15,517,87,7.2,62,5800],
    [27,23,585,80,7.2,63,6900],
    [28,16,520,86,7.2,61,5000],
    [29,13,596,85,7.2,63,4100],
    [30,12,524,80,7.2,60,2100],
    [31,16,555,89,7.2,60,6000]
];



var dataSH = [
    [1,11,545,85,7.2,64,2300],
    [2,15,527,88,7.2,65,2900],
    [3,23,560,84,7.2,63,2700],
    [4,19,581,82,7.2,68,5100],
    [5,16,577,84,7.2,65,5100],
    [6,19,581,81,7.2,68,5100],
    [7,16,577,84,7.2,65,5100],
    [8,19,565,78,7.2,61,2600],
    [9,23,533,87,7.2,60,1700],
    [10,20,555,80,7.2,65,2400],
    [11,17,581,84,7.2,65,2400],
    [12,19,571,82,7.2,62,4200],
    [13,19,569,80,7.2,64,5000],
    [14,16,587,81,7.2,64,4000],
    [15,18,580,81,7.2,65,3700],
    [16,14,583,87,7.2,67,4300],
    [17,19,543,87,7.2,69,3700],
    [18,21,546,89,7.2,64,2500],
    [19,27,571,83,7.2,68,3100],
    [20,24,557,91,7.2,65,3100],
    [21,27,563,81,7.2,66,4100],
    [22,14,577,89,7.2,63,4800],
    [23,27,562,80,7.2,62,2800],
    [24,18,528,82,7.2,67,5600],
    [25,15,545,81,7.2,69,1700],
    [26,29,524,88,7.2,67,1700],
    [27,29,524,89,7.2,60,1900],
    [28,23,568,86,7.2,69,2900],
    [29,18,543,87,7.2,69,5100],
    [30,17,531,84,7.2,68,5000],
    [31,18,543,81,7.2,69,5300]
];

var schema = [
    {name: 'date', index: 0, text: '日'},
    {name: 'AQIindex', index: 1, text: '温度'},
    {name: 'PM25', index: 2, text: '二氧化碳'},
    {name: 'PM10', index: 3, text: '室内湿度'},
    {name: 'CO', index: 4, text: '土壤PH'},
    {name: 'NO2', index: 5, text: '土壤湿度'},
    {name: 'SO2', index: 6, text: '光照度'}
];


var itemStyle = {
    normal: {
        opacity: 0.8,
        shadowBlur: 10,
        shadowOffsetX: 0,
        shadowOffsetY: 0,
        shadowColor: 'rgba(0, 0, 0, 0.5)'
    }
};

option = {
    backgroundColor: '#404a59',
    color: [
        '#dd4444', '#fec42c', '#80F1BE'
    ],
    legend: {
        y: 'top',
        data: ['草莓大棚', '蔬菜大棚'],
        textStyle: {
            color: '#fff',
            fontSize: 16
        }
    },
    grid: {
        x: '10%',
        x2: 150,
        y: '18%',
        y2: '10%'
    },
    tooltip: {
        padding: 10,
        backgroundColor: '#222',
        borderColor: '#777',
        borderWidth: 1,
        formatter: function (obj) {
            var value = obj.value;
            return '<div style="border-bottom: 1px solid rgba(255,255,255,.3); font-size: 18px;padding-bottom: 7px;margin-bottom: 7px">'
                + obj.seriesName + ' ' + value[0] + '日'
                + '</div>'
                + schema[1].text + '：' + value[1] + '<br>'
                + schema[2].text + '：' + value[2] + '<br>'
                + schema[3].text + '：' + value[3] + '<br>'
                + schema[4].text + '：' + value[4] + '<br>'
                + schema[5].text + '：' + value[5] + '<br>'
                + schema[6].text + '：' + value[6] + '<br>';
        }
    },
    xAxis: {
        type: 'value',
        name: '日期',
        nameGap: 16,
        nameTextStyle: {
            color: '#fff',
            fontSize: 14
        },
        max: 31,
        splitLine: {
            show: false
        },
        axisLine: {
            lineStyle: {
                color: '#eee'
            }
        }
    },
    yAxis: {
        type: 'value',
        name: '温度',
        nameLocation: 'end',
        nameGap: 20,
        nameTextStyle: {
            color: '#fff',
            fontSize: 16
        },
        axisLine: {
            lineStyle: {
                color: '#eee'
            }
        },
        splitLine: {
            show: false
        }
    },
    visualMap: [
        {
            left: 'right',
            top: '10%',
            dimension: 1,
            min: 0,
            max: 40,
            itemWidth: 30,
            itemHeight: 120,
            calculable: true,
            precision: 0.1,
            text: ['圆形大小：温度'],
            textGap: 30,
            textStyle: {
                color: '#fff'
            },
            inRange: {
                symbolSize: [10, 70]
            },
            outOfRange: {
                symbolSize: [10, 70],
                color: ['rgba(255,255,255,.2)']
            },
            controller: {
                inRange: {
                    color: ['#c23531']
                },
                outOfRange: {
                    color: ['#444']
                }
            }
        }
    ],
    series: [
        {
            name: '草莓大棚',
            type: 'scatter',
            itemStyle: itemStyle,
            data: dataBJ
        },
        {
            name: '蔬菜大棚',
            type: 'scatter',
            itemStyle: itemStyle,
            data: dataSH
        }
    ]
};
        echartsA.setOption(option);

option1 = {
    tooltip: {
        trigger: 'axis'
    },
    toolbox: {
        feature: {
            dataView: {show: true, readOnly: false},
            magicType: {show: true, type: ['line', 'bar']},
            restore: {show: true},
            saveAsImage: {show: true}
        }
    },
    legend: {
        data:['草莓大棚','蔬菜大棚','平均温度']
    },
    xAxis: [
        {
            type: 'category',
            data: ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月']
        }
    ],
    yAxis: [
        {
            type: 'value',
            name: '光照度',
            min: 0,
            max: 25000,
            interval: 5000,
            axisLabel: {
                formatter: '{value} Lux'
            }
        },
        {
            type: 'value',
            name: '温度',
            min: 0,
            max: 25,
            interval: 5,
            axisLabel: {
                formatter: '{value} °C'
            }
        }
    ],
    series: [
        {
            name:'草莓大棚',
            type:'bar',
            data:[200, 490, 700, 2302, 2506, 7607, 13506, 16202, 3206, 2000, 604, 303]
        },
        {
            name:'蔬菜大棚',
            type:'bar',
            data:[260, 590, 900, 2604, 2807, 7007, 17506, 18202, 4807, 1808, 600, 203]
        },
        {
            name:'平均温度',
            type:'line',
            yAxisIndex: 1,
            data:[2.0, 2.2, 3.3, 4.5, 6.3, 10.2, 20.3, 23.4, 23.0, 16.5, 12.0, 6.2]
        }
    ]
};
echartsC.setOption(option1);
    </script>
</body>

</html>
