<%include header%>

        <div class="tpl-content-wrapper">
            <div class="tpl-content-page-title">
                园区基础数据维护
            </div>
            <ol class="am-breadcrumb">
                <li><a href="#" class="am-icon-home">首页</a></li>
                <li><a href="#">园区信息</a></li>
                <li class="am-active">大棚信息</li>
            </ol>
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">
                        <span class="am-icon-code"></span> 大棚信息管理
                    </div>
                </div>
                <div class="tpl-block">
                    <table id="table" class="ui celled table" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>名称</th>
                                <th>农作物</th>
                                <th>总面积</th>
                                <th>种植面积</th>
                                <th>闲置面积</th>
                                <th>环境采集器</th>
                                <th>控制设备</th>
                                <th>监控</th>
                            </tr>
                        </thead>
                    </table>
                </div>

            </div>
        </div>

    </div>


    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/amazeui.min.js"></script>
    <script src="../assets/js/app.js"></script>
    <!-- dataTables  -->
    <script src="../assets/js/semantic.min.js"></script>
    <script src="../assets/js/jquery.dataTables.min.js"></script>
    <script src="../assets/js/dataTables.semanticui.min.js"></script>
    <script src="../assets/js/dataTables.buttons.min.js"></script>
    <script src="../assets/js/buttons.semanticui.min.js"></script>
    <script src="../assets/js/dataTables.select.min.js"></script>
    <script src="../assets/js/dataTables.editor.min.js"></script>
    <script src="../assets/js/editor.semanticui.min.js"></script>
    <script>
    var editor;
    $(document).ready(function() {
            editor = new $.fn.dataTable.Editor( {
            ajax: {
                create: {
                    type: 'POST',
                    url:  '../api/json/greenhouse/add'
                },
                edit: {
                    type: 'PUT',
                    url:  '../api/json/greenhouse/edit/_id_'
                },
                remove: {
                    type: 'DELETE',
                    url:  '../api/json/greenhouse/remove/_id_'
                }
            },
            table: "#table",
            fields: [
                { label: '名称', name: 'name' },
                { label: '农作物',  name: 'crop' },
                { label: '总面积',  name: 'totalArea' },
                { label: '种植面积',  name: 'plantArea' },
                { label: '闲置面积',  name: 'unusedArea' },
                { label: '环境采集器',  name: 'device' },
                { label: '控制设备',  name: 'switch' },
                { label: '监控',  name: 'video' }
            ],i18n: {
                    create: {
                        button: "新增",
                        title:  "新建大棚",
                        submit: "创建"
                    },
                    edit: {
                        button: "编辑",
                        title:  "大棚信息修改",
                        submit: "更新"
                    },
                    remove: {
                        button: "删除",
                        title:  "删除",
                        submit: "删除",
                        confirm: {
                            _: "确定要删除 %d 条吗?",
                            1: "确定要删除这条数据吗?"
                        }
                    }
                }
        } );

        var table= $('#table').DataTable( {
            "processing": true,
            stateSave: true,
            "dom": '<"top"Brf>t<"bottom"ilp>',
            "ajax": '../api/json/greenhouse',
            "columns": [
                {"data":null},
                { "data": "name" },
                { "data": "crop" },
                { "data": "totalArea" ,render:function(data){return data+"㎡"}},
                { "data": "plantArea" ,render:function(data){return data+"㎡"}},
                { "data": "unusedArea" ,render:function(data){return data+"㎡"}},
                { "data": "device" },
                { "data": "switch" },
                { "data": "video" }
            ],
            select:true,
            buttons: [
            { extend: "create", editor: editor },
            { extend: "edit",  editor: editor },
            { extend: "remove", editor: editor }
            ] ,
            "columnDefs": [{
                "searchable": false,
                "orderable": false,
                "targets": 0
            }],
            "order": [[1, 'asc']],
            "language": {
                "url": "../assets/css/zh_CN.txt"
            }
        });
        table.on('order.dt search.dt',function() {
                    table.column(0, {
                        search: 'applied',
                        order: 'applied'
                    }).nodes().each(function(cell, i) {
                        cell.innerHTML = i + 1;
                    });
                }).draw();
    });
    </script>
    <script type="text/javascript">
        $('#park').siblings('.tpl-left-nav-sub-menu').slideToggle(80)
            .end()
            .find('.tpl-left-nav-more-ico').toggleClass('tpl-left-nav-more-ico-rotate');
        $('#greenhouse').addClass('active');
        $('#park').addClass('active');
    </script>
</body>

</html>
