<%include header%>

        <div class="tpl-content-wrapper">
            <div class="tpl-content-page-title">
                农作物的绿色履历
            </div>
            <ol class="am-breadcrumb">
                <li><a href="#" class="am-icon-home">首页</a></li>
                <li><a href="#">绿色履历</a></li>
                <li class="am-active">履历信息</li>
            </ol>
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">
                        <span class="am-icon-skyatlas"></span> 履历信息管理
                    </div>
                </div>
                <div class="tpl-block">
                    <div class="am-tabs" id="doc-my-tabs">
                      <ul class="am-tabs-nav am-nav am-nav-tabs am-nav-justify">
                        <li class="am-active"><a href="">基础信息</a></li>
                        <li><a href="">生长树</a></li>
                        <li><a href="">生长环境指数</a></li>
                        <li><a href="">品质</a></li>
                      </ul>
                      <div class="am-tabs-bd">
                        <div class="am-tab-panel am-active">
                            <p><span style="font-weight:bold">草莓 学名：</span>Fragaria × ananassa Duch.</p>
                            <p><span style="font-weight:bold">基地：</span>太仓璜泾现代农业园草莓大棚</p>
                            <p>多年生草本，高10-40厘米。茎低于叶或近相等，密被开.展黄色柔毛。叶三出，小叶具短柄，质地较厚，倒卵形或菱形，上面深绿色，几无毛，下面淡白绿色，疏生毛，沿脉较密；叶柄密被开展黄色柔毛。聚伞花序，花序下面具一短柄的小叶；花两性；萼片卵形，比副萼片稍长；花瓣白色，近圆形或倒卵椭圆形。聚合果大，宿存萼片直立，紧贴于果实；瘦果尖卵形，光滑。花期4-5月，果期6-7月。
原产南美，中国各地及欧洲等地广为栽培。草莓营养价值高，含有多种营养物质 ，且有保健功效。</p>
                            <div class="am-slider am-slider-default" data-am-flexslider id="demo-slider-0">
                              <ul class="am-slides">
                                <li><img src="../assets/img/1.jpeg" /></li>
                                <li><img src="../assets/img/2.jpeg" /></li>
                                <li><img src="../assets/img/3.jpeg" /></li>
                                <li><img src="../assets/img/4.jpeg" /></li>
                              </ul>
                            </div>
                        </div>
                        <div class="am-tab-panel">
                            <div class="container">
                              <div class="row">
                                <div class="col-md-12">
                                  <div class="VivaTimeline">
                                    <dl>
                                      <dt>2017 2月</dt>
                                      <dd class="pos-left clearfix">
                                      <div class="circ"></div>
                                          <div class="time">2月 03</div>
                                          <div class="events">
                                                <div class="events-header">采摘</div>
                                                <div class="events-body">
                                                      <div class="row">
                                                        <div class="col-md-6 pull-left">
                                                              <img class="events-object img-responsive img-rounded" src="../assets/img/5.jpg" />
                                                            </div>
                                                            <div class="events-desc">
                                                              亲子采摘
                                                            </div>
                                                      </div>
                                                      <div class="row">
                                                        <div class="col-md-6 pull-left">
                                                              <img class="events-object img-responsive img-rounded" src="../assets/img/6.jpg" />
                                                          </div>
                                                          <div class="events-desc">
                                                              学生采摘
                                                          </div>
                                                      </div>
                                                </div>
                                                <div class="events-footer">
                                                    ...
                                                </div>
                                          </div>
                                      </dd>
                                      <dd class="pos-right clearfix">
                                      <div class="circ"></div>
                                          <div class="time">2月 01</div>
                                          <div class="events">
                                                <div class="events-header">除草</div>
                                                <div class="events-body">
                                                      <div class="row">

                                                            <div class="events-desc">
                                                              除杂草
                                                            </div>
                                                      </div>

                                                </div>
                                                <div class="events-footer">
                                                    ...
                                                </div>
                                          </div>
                                      </dd>
                                      <!-- 其它时间节点 -->
                                      <dt>2017 1月</dt>
                                      <dd class="pos-left clearfix">
                                      <div class="circ"></div>
                                          <div class="time">2月 01</div>
                                          <div class="events">
                                                <div class="events-header">灌溉</div>
                                                <div class="events-body">
                                                      <div class="row">

                                                            <div class="events-desc">
                                                              灌溉
                                                            </div>
                                                      </div>

                                                </div>
                                                <div class="events-footer">
                                                    ...
                                                </div>
                                          </div>
                                      </dd>
                                      <dt>2016 12月</dt>
                                      <dt>2016 11月</dt>
                                    </dl>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>
                        <div class="am-tab-panel">
                            <div class="tpl-echarts tpl-chart-mb" id="tpl-echarts-C">
                            </div>
                        </div>
                        <div class="am-tab-panel">
                            <p><span style="font-weight:bold">营养：</span><%=data.get('nutrition')%></p>
                            <p><span style="font-weight:bold">保健：</span><%=data.get('info')%></p>
                            <p><span style="font-weight:bold">食用：</span><%=data.get('cooking')%></p>
                        </div>
                      </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <script src="../assets/js/echarts.min.js"></script>
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/amazeui.min.js"></script>
    <script src="../assets/js/app.js"></script>
    <link rel="stylesheet" type="text/css" href="../bootstrap-3.3.6-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/jquery.eeyellow.Timeline.css" />
    <script type="text/javascript" src="../bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/jquery.eeyellow.Timeline.js"></script>
    <script type="text/javascript">
        $('#resume').addClass('active');
        $(document).ready(function(e){
			$('.VivaTimeline').vivaTimeline();
            $(function() {
                $('#doc-my-tabs').tabs();
            });
            var $slider = $('#demo-slider-0');
            var counter = 0;
            var getSlide = function() {
              counter++;
              return '<li><img src="../assets/img/' +
                (Math.floor(Math.random() * 4) + 1) + '.jpg" />' +
                '<div class="am-slider-desc">动态插入的 slide ' + counter + '</div></li>';
            };
            var echartsC = echarts.init(document.getElementById('tpl-echarts-C'));
            option1 = {
                tooltip: {
                    trigger: 'axis'
                },
                toolbox: {
                    feature: {
                        dataView: {show: true, readOnly: false},
                        magicType: {show: true, type: ['line', 'bar']},
                        restore: {show: true},
                        saveAsImage: {show: true}
                    }
                },
                legend: {
                    data:['草莓大棚','平均温度']
                },
                xAxis: [
                    {
                        type: 'category',
                        data: ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月']
                    }
                ],
                yAxis: [
                    {
                        type: 'value',
                        name: '光照度',
                        min: 0,
                        max: 25000,
                        interval: 5000,
                        axisLabel: {
                            formatter: '{value} Lux'
                        }
                    },
                    {
                        type: 'value',
                        name: '温度',
                        min: 0,
                        max: 25,
                        interval: 5,
                        axisLabel: {
                            formatter: '{value} °C'
                        }
                    }
                ],
                series: [
                    {
                        name:'草莓大棚',
                        type:'bar',
                        data:[200, 490, 700, 2302, 2506, 7607, 13506, 16202, 3206, 2000, 604, 303]
                    },
                    {
                        name:'平均温度',
                        type:'line',
                        yAxisIndex: 1,
                        data:[2.0, 2.2, 3.3, 4.5, 6.3, 10.2, 20.3, 23.4, 23.0, 16.5, 12.0, 6.2]
                    }
                ]
            };
            echartsC.setOption(option1);
		});
    </script>
</body>

</html>
