<%include header%>
        <div class="tpl-content-wrapper">
            <div class="tpl-content-page-title">
                远程开关
            </div>
            <ol class="am-breadcrumb">
                <li><a href="#" class="am-icon-home">首页</a></li>
                <li><a href="#">远程开关</a></li>
                <li class="am-active">开关设置</li>
            </ol>
            <div class="tpl-content-scope">
                <div class="note note-info">
                    <p><span class="label label-danger">提示:</span>只有手动或自动状态为“开”时才能通过远程开关设备
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="am-u-md-6 am-u-sm-12 row-mb">
                    <div class="tpl-portlet">
                        <div class="tpl-portlet-title">
                            <div class="tpl-caption font-green ">
                                <i class="am-icon-cloud-download"></i>
                                <span> 手动开关1</span>
                            </div>
                        </div>
                        <div class="tpl-scrollable">
                            <table class="am-table tpl-table">
                                <thead>
                                    <tr class="tpl-table-uppercase">
                                        <th>手动开关名称</th>
                                        <th>开关</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="user-name">湿帘水泵1手动开关</td>
                                        <td class="font-red bold" ><div class="tpl-switch">
                                            <input type="checkbox" id="switch1" class="ios-switch bigswitch tpl-switch-btn"/>
                                            <div class="tpl-switch-btn-view">
                                                <div>
                                                </div>
                                            </div>
                                        </div></td>
                                    </tr>
                                    <tr>
                                        <td class="user-name">湿帘水泵2手动开关</td>
                                        <td class="font-red bold" ><div class="tpl-switch">
                                            <input type="checkbox" id="switch2" class="ios-switch bigswitch tpl-switch-btn"/>
                                            <div class="tpl-switch-btn-view">
                                                <div>
                                                </div>
                                            </div>
                                        </div></td>
                                    </tr>
                                    <tr>
                                        <td class="user-name">湿帘水泵3手动开关</td>
                                        <td class="font-red bold" ><div class="tpl-switch">
                                            <input type="checkbox" id="switch3" class="ios-switch bigswitch tpl-switch-btn"/>
                                            <div class="tpl-switch-btn-view">
                                                <div>
                                                </div>
                                            </div>
                                        </div></td>
                                    </tr>
                                    <tr>
                                        <td class="user-name">轴流风机1手动开关</td>
                                        <td class="font-red bold" ><div class="tpl-switch">
                                            <input type="checkbox" id="switch4" class="ios-switch bigswitch tpl-switch-btn"/>
                                            <div class="tpl-switch-btn-view">
                                                <div>
                                                </div>
                                            </div>
                                        </div></td>
                                    </tr>
                                    <tr>
                                        <td class="user-name">轴流风机2手动开关</td>
                                        <td class="font-red bold" ><div class="tpl-switch">
                                            <input type="checkbox" id="switch5" class="ios-switch bigswitch tpl-switch-btn"/>
                                            <div class="tpl-switch-btn-view">
                                                <div>
                                                </div>
                                            </div>
                                        </div></td>
                                    </tr>
                                    <tr>
                                        <td class="user-name">轴流风机3手动开关</td>
                                        <td class="font-red bold" ><div class="tpl-switch">
                                            <input type="checkbox" id="switch6" class="ios-switch bigswitch tpl-switch-btn"/>
                                            <div class="tpl-switch-btn-view">
                                                <div>
                                                </div>
                                            </div>
                                        </div></td>
                                    </tr>
                                    <tr>
                                        <td class="user-name">轴流风机4手动开关</td>
                                        <td class="font-red bold" ><div class="tpl-switch">
                                            <input type="checkbox" id="switch7" class="ios-switch bigswitch tpl-switch-btn"/>
                                            <div class="tpl-switch-btn-view">
                                                <div>
                                                </div>
                                            </div>
                                        </div></td>
                                    </tr>
                                    <tr>
                                        <td class="user-name">手动或自动状态</td>
                                        <td class="font-red bold" ><div class="tpl-switch">
                                            <input disabled type="checkbox" id="switch8" class="ios-switch bigswitch tpl-switch-btn"/>
                                            <div class="tpl-switch-btn-view">
                                                <div>
                                                </div>
                                            </div>
                                        </div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="am-u-md-6 am-u-sm-12 row-mb">
                    <div class="tpl-portlet">
                        <div class="tpl-portlet-title">
                            <div class="tpl-caption font-red ">
                                <i class="am-icon-bar-chart"></i>
                                <span> 手动开关状态2</span>
                            </div>
                        </div>
                        <div class="tpl-scrollable">

                            <table class="am-table tpl-table">
                                <thead>
                                    <tr class="tpl-table-uppercase">
                                        <th>手动开关名称</th>
                                        <th>开关状态</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="user-name">一区风机1手动开关</td>
                                        <td class="font-red bold" ><div class="tpl-switch">
                                            <input type="checkbox" id="switch9" class="ios-switch bigswitch tpl-switch-btn"/>
                                            <div class="tpl-switch-btn-view">
                                                <div>
                                                </div>
                                            </div>
                                        </div></td>
                                    </tr>
                                    <tr>
                                        <td class="user-name">一区风机2手动开关</td>
                                        <td class="font-red bold" ><div class="tpl-switch">
                                            <input type="checkbox" id="switch10" class="ios-switch bigswitch tpl-switch-btn"/>
                                            <div class="tpl-switch-btn-view">
                                                <div>
                                                </div>
                                            </div>
                                        </div></td>
                                    </tr>
                                    <tr>
                                        <td class="user-name">一区风机3手动开关</td>
                                        <td class="font-red bold" ><div class="tpl-switch">
                                            <input type="checkbox" id="switch11" class="ios-switch bigswitch tpl-switch-btn"/>
                                            <div class="tpl-switch-btn-view">
                                                <div>
                                                </div>
                                            </div>
                                        </div></td>
                                    </tr>
                                    <tr>
                                        <td class="user-name">一区风机4手动开关</td>
                                        <td class="font-red bold" ><div class="tpl-switch">
                                            <input type="checkbox" id="switch12" class="ios-switch bigswitch tpl-switch-btn"/>
                                            <div class="tpl-switch-btn-view">
                                                <div>
                                                </div>
                                            </div>
                                        </div></td>
                                    </tr>
                                    <tr>
                                        <td class="user-name">二区风机1手动开关</td>
                                        <td class="font-red bold" ><div class="tpl-switch">
                                            <input type="checkbox" id="switch13" class="ios-switch bigswitch tpl-switch-btn"/>
                                            <div class="tpl-switch-btn-view">
                                                <div>
                                                </div>
                                            </div>
                                        </div></td>
                                    </tr>
                                    <tr>
                                        <td class="user-name">二区风机2手动开关</td>
                                        <td class="font-red bold" ><div class="tpl-switch">
                                            <input type="checkbox" id="switch14" class="ios-switch bigswitch tpl-switch-btn"/>
                                            <div class="tpl-switch-btn-view">
                                                <div>
                                                </div>
                                            </div>
                                        </div></td>
                                    </tr>
                                    <tr>
                                        <td class="user-name">二区风机3手动开关</td>
                                        <td class="font-red bold" ><div class="tpl-switch">
                                            <input type="checkbox" id="switch15" class="ios-switch bigswitch tpl-switch-btn"/>
                                            <div class="tpl-switch-btn-view">
                                                <div>
                                                </div>
                                            </div>
                                        </div></td>
                                    </tr>
                                    <tr>
                                        <td class="user-name">手动或自动状态</td>
                                        <td class="font-red bold" ><div class="tpl-switch">
                                            <input disabled type="checkbox" id="switch16" class="ios-switch bigswitch tpl-switch-btn"/>
                                            <div class="tpl-switch-btn-view">
                                                <div>
                                                </div>
                                            </div>
                                        </div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="am-u-md-6 am-u-sm-12 row-mb">
                    <div class="tpl-portlet">
                        <div class="tpl-portlet-title">
                            <div class="tpl-caption font-green ">
                                <i class="am-icon-cloud-download"></i>
                                <span> 湿帘水泵和轴流风机状态</span>
                            </div>
                        </div>
                        <div class="tpl-scrollable">
                            <table class="am-table tpl-table">
                                <thead>
                                    <tr class="tpl-table-uppercase">
                                        <th>设备名称</th>
                                        <th>开关状态</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="user-name">湿帘水泵1</td>
                                        <td class="font-red bold" id="device1"></td>
                                    </tr>
                                    <tr>
                                        <td class="user-name">湿帘水泵2</td>
                                        <td class="font-red bold" id="device2"></td>
                                    </tr>
                                    <tr>
                                        <td class="user-name">湿帘水泵3</td>
                                        <td class="font-red bold" id="device3"></td>
                                    </tr>
                                    <tr>
                                        <td class="user-name">轴流风机1</td>
                                        <td class="font-red bold" id="device4"></td>
                                    </tr>
                                    <tr>
                                        <td class="user-name">轴流风机2</td>
                                        <td class="font-red bold" id="device5"></td>
                                    </tr>
                                    <tr>
                                        <td class="user-name">轴流风机3</td>
                                        <td class="font-red bold" id="device6"></td>
                                    </tr>
                                    <tr>
                                        <td class="user-name">轴流风机4</td>
                                        <td class="font-red bold" id="device7"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="am-u-md-6 am-u-sm-12 row-mb">
                    <div class="tpl-portlet">
                        <div class="tpl-portlet-title">
                            <div class="tpl-caption font-red ">
                                <i class="am-icon-bar-chart"></i>
                                <span> 一区和二区风机状态</span>
                            </div>
                        </div>
                        <div class="tpl-scrollable">

                            <table class="am-table tpl-table">
                                <thead>
                                    <tr class="tpl-table-uppercase">
                                        <th>设备名称</th>
                                        <th>开关状态</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="user-name">一区风机1</td>
                                        <td class="font-red bold" id="device8"></td>
                                    </tr>
                                    <tr>
                                        <td class="user-name">一区风机2</td>
                                        <td class="font-red bold" id="device9"></td>
                                    </tr>
                                    <tr>
                                        <td class="user-name">一区风机3</td>
                                        <td class="font-red bold" id="device10"></td>
                                    </tr>
                                    <tr>
                                        <td class="user-name">一区风机4</td>
                                        <td class="font-red bold" id="device11"></td>
                                    </tr>
                                    <tr>
                                        <td class="user-name">二区风机1</td>
                                        <td class="font-red bold" id="device12"></td>
                                    </tr>
                                    <tr>
                                        <td class="user-name">二区风机2</td>
                                        <td class="font-red bold" id="device13"></td>
                                    </tr>
                                    <tr>
                                        <td class="user-name">二区风机3</td>
                                        <td class="font-red bold" id="device14"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="am-u-md-6 am-u-sm-12 row-mb">
                    <div class="tpl-portlet">
                        <div class="tpl-portlet-title">
                            <div class="tpl-caption font-green ">
                                <i class="am-icon-cloud-download"></i>
                                <span> Cloud 环境动态信息</span>
                            </div>
                        </div>
                        <div class="tpl-scrollable">
                            <div class="number-stats">
                                <div class="stat-number am-fl am-u-md-8">
                                    <div class="number am-text-right am-text-warning"> 草莓大棚 </div>
                                </div>
                            </div>

                            <table class="am-table tpl-table">
                                <thead>
                                    <tr class="tpl-table-uppercase">
                                        <th>传感器</th>
                                        <th>告警阀值</th>
                                        <th>设置</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="user-name">室内温度</td>
                                        <td class="font-red bold" id="war-temp2">100~0</td>
                                        <td class="font-green bold" id="temp2-set">
                                            <button id="btn-temp2" class="am-btn am-btn-secondary am-btn-xs am-radius" onclick="setData('室内温度','#war-temp2')">
                                              <i class="am-icon-cog"></i>
                                              设置
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="user-name">室内湿度</td>
                                        <td class="font-red bold" id="war-wet2">100~0</td>
                                        <td class="font-green bold" id="wet2-set">
                                            <button id="btn-wet2" class="am-btn am-btn-secondary am-btn-xs am-radius">
                                              <i class="am-icon-cog"></i>
                                              设置
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="user-name">二氧化碳浓度</td>
                                        <td class="font-red bold" id="war-co22">100~0</td>
                                        <td class="font-green bold" id="co22-set">
                                            <button id="btn-co22" class="am-btn am-btn-secondary am-btn-xs am-radius">
                                              <i class="am-icon-cog"></i>
                                              设置
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="user-name">土壤PH值</td>
                                        <td class="font-red bold" id="war-ph2">14~0</td>
                                        <td class="font-green bold" id="ph2-set">
                                            <button id="btn-ph2" class="am-btn am-btn-secondary am-btn-xs am-radius">
                                              <i class="am-icon-cog"></i>
                                              设置
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="user-name">光照度</td>
                                        <td class="font-red bold" id="war-light2">20000~0</td>
                                        <td class="font-green bold" id="light2-set">
                                            <button id="btn-light2" class="am-btn am-btn-secondary am-btn-xs am-radius">
                                              <i class="am-icon-cog"></i>
                                              设置
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="user-name">土壤湿度</td>
                                        <td class="font-red bold" id="war-soild2">99~0</td>
                                        <td class="font-green bold" id="soild2-set">
                                            <button id="btn-soild2" class="am-btn am-btn-secondary am-btn-xs am-radius">
                                              <i class="am-icon-cog"></i>
                                              设置
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="am-u-md-6 am-u-sm-12 row-mb">
                    <div class="tpl-portlet">
                        <div class="tpl-portlet-title">
                            <div class="tpl-caption font-red ">
                                <i class="am-icon-bar-chart"></i>
                                <span> Cloud 环境动态信息</span>
                            </div>
                        </div>
                        <div class="tpl-scrollable">
                            <div class="number-stats">
                                <div class="stat-number am-fl am-u-md-8">
                                    <div class="number am-text-right am-text-success"> 蔬菜大棚 </div>
                                </div>
                            </div>

                            <table class="am-table tpl-table">
                                <thead>
                                    <tr class="tpl-table-uppercase">
                                        <th>传感器</th>
                                        <th>告警阀值</th>
                                        <th>设置</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="user-name">室内温度</td>
                                        <td class="font-red bold" id="war-temp">100~0</td>
                                        <td class="font-green bold" id="temp-set">
                                            <button id="btn-temp" class="am-btn am-btn-secondary am-btn-xs am-radius">
                                              <i class="am-icon-cog"></i>
                                              设置
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="user-name">室内湿度</td>
                                        <td class="font-red bold" id="war-wet">100~0</td>
                                        <td class="font-green bold" id="wet-set">
                                            <button id="btn-wet" class="am-btn am-btn-secondary am-btn-xs am-radius">
                                              <i class="am-icon-cog"></i>
                                              设置
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="user-name">二氧化碳浓度</td>
                                        <td class="font-red bold" id="war-co2">100~0</td>
                                        <td class="font-green bold" id="co2-set">
                                            <button id="btn-co2" class="am-btn am-btn-secondary am-btn-xs am-radius">
                                              <i class="am-icon-cog"></i>
                                              设置
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="user-name">土壤PH值</td>
                                        <td class="font-red bold" id="war-ph">14~0</td>
                                        <td class="font-green bold" id="ph-set">
                                            <button id="btn-ph" class="am-btn am-btn-secondary am-btn-xs am-radius">
                                              <i class="am-icon-cog"></i>
                                              设置
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="user-name">光照度</td>
                                        <td class="font-red bold" id="war-light">20000~0</td>
                                        <td class="font-green bold" id="light-set">
                                            <button id="btn-light" class="am-btn am-btn-secondary am-btn-xs am-radius">
                                              <i class="am-icon-cog"></i>
                                              设置
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="user-name">土壤湿度</td>
                                        <td class="font-red bold" id="war-soild">99~0</td>
                                        <td class="font-green bold" id="soild-set">
                                            <button id="btn-soild" class="am-btn am-btn-secondary am-btn-xs am-radius">
                                              <i class="am-icon-cog"></i>
                                              设置
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="am-modal am-modal-prompt" tabindex="-1" id="my-prompt">
          <div class="am-modal-dialog">
            <div class="am-modal-hd" style="color:#3bb4f2"></div>
            <div class="am-modal-bd">
              <span class="font-red" style="display:block"></span>
              上限
              <input id="max" type="text" class="am-modal-prompt-input" style="width:30%;display:inline">
              下限
              <input id="min" type="text" class="am-modal-prompt-input" style="width:30%;display:inline">
            </div>
            <div class="am-modal-footer">
              <span class="am-modal-btn" data-am-modal-cancel>取消</span>
              <span class="am-modal-btn" data-am-modal-confirm>提交</span>
            </div>
          </div>
        </div>
    </div>


    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/amazeui.min.js"></script>
    <script src="../assets/js/iscroll.js"></script>
    <script src="../assets/js/app.js"></script>
    <script src="http://cdn.bootcss.com/socket.io/1.7.2/socket.io.min.js"></script>
    <script type="text/javascript">
        function setData(title,name){
            $('.am-modal-hd').html(title);
            $('.am-modal-bd span').html("现值:"+$(name).html());
            $('#my-prompt').modal({
              relatedTarget: this,
              onConfirm: function(e) {
                alert('你输入的是：' + e.data || '')
              },
              onCancel: function(e) {

              }
            });
        }
        function changeColor(name,flag){
            if(flag){
                $(name).removeClass("font-red");
                $(name).addClass("font-green");
            }else {
                $(name).removeClass("font-green");
                $(name).addClass("font-red");
            }
        }
        function changeState(name,flag){
            if(flag){
                $(name).attr("checked","true");
            }else {
                $(name).removeAttr("checked");
            }
        }
        function changeEnable(name,flag){
            if(!flag){
                $(name).attr("disabled","disabled");
            }else {
                $(name).removeAttr("disabled");
            }
        }
        var socket=io.connect('http://14961rg045.iask.in:35790');
        socket.on('switch1',function(arr){
            //console.log(arr);
            for(var i=0;i<arr.length;i++){
                changeState('#switch'+(i+1),arr[i]);
                //$('#switch'+(i+1)).html(arr[i]?"开":"关");
            }
            if(arr[7]){
                for(var i=0;i<7;i++){
                    changeEnable('#switch'+(i+1),true);
                }
            }else{
                for(var i=0;i<7;i++){
                    changeEnable('#switch'+(i+1),false);
                }
            }
            if(arr[15]){
                for(var i=8;i<15;i++){
                    changeEnable('#switch'+(i+1),true);
                }
            }else {
                for(var i=8;i<15;i++){
                    changeEnable('#switch'+(i+1),false);
                }
            }
        });
        socket.on('switch2',function(arr){
            for(var i=0;i<arr.length;i++){
                changeColor('#device'+(i+1),arr[i]);
                $('#device'+(i+1)).html(arr[i]?"开":"关");
            }
        });
        socket.on('limit1',function(data){
            //console.log(data);
            var arr=data.split(',');
            $('#war-temp').html(parseFloat(arr[0])+"~"+parseFloat(arr[1])+"℃");
            $('#war-wet').html(parseFloat(arr[2])+"~"+parseFloat(arr[3])+"%");
            $('#war-co2').html(parseFloat(arr[4])+"~"+parseFloat(arr[5])+"PPM");
            $('#war-ph').html(parseFloat(arr[6])+"~"+parseFloat(arr[7]));
            $('#war-light').html(parseFloat(arr[8])+"~"+parseFloat(arr[9])+"Lux");
            $('#war-soild').html(parseFloat(arr[10])+"~"+parseFloat(arr[11])+"%");
        });
        socket.on('limit2',function(data){
            //console.log(data);
            var arr=data.split(',');
            $('#war-temp2').html(parseFloat(arr[0])+"~"+parseFloat(arr[1])+"℃");
            $('#war-wet2').html(parseFloat(arr[2])+"~"+parseFloat(arr[3])+"%");
            $('#war-co22').html(parseFloat(arr[4])+"~"+parseFloat(arr[5])+"PPM");
            $('#war-ph2').html(parseFloat(arr[6])+"~"+parseFloat(arr[7]));
            $('#war-light2').html(parseFloat(arr[8])+"~"+parseFloat(arr[9])+"Lux");
            $('#war-soild2').html(parseFloat(arr[10])+"~"+parseFloat(arr[11])+"%");
        });
    </script>
</body>

</html>
