<%include header%>
<div class="tpl-content-wrapper">
            <div class="tpl-content-page-title">
                远程监控
            </div>
            <ol class="am-breadcrumb">
                <li><a href="#" class="am-icon-home">首页</a></li>
                <li><a href="#">视频列表</a></li>
                <li class="am-active">蔬菜大棚</li>
            </ol>
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">
                        <span class="am-icon-code"></span> 列表
                    </div>
                </div>
                <div class="tpl-block">
                    <div class="am-g">
                        <div class="am-u-sm-12 am-u-md-3">
                            <div class="am-form-group">

                            </div>
                        </div>
                        <div class="am-u-sm-12 am-u-md-3">

                        </div>
                    </div>
                    <div class="am-g">
                        <div class="tpl-table-images">
                            <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                                <div class="tpl-table-images-content">
                                    <div class="tpl-table-images-content-i-time">发布时间：2017-01-12</div>
                                    <div class="tpl-i-title">
                                        草莓大棚——摄像头1
                                    </div>
                                    <a href="" class="tpl-table-images-content-i"
                                        <span class="tpl-table-images-content-i-shadow"></span>
									<div id="videoPlay1" style="width: 700px;height: 393px;"></div>

                                    </a>
                                    <div class="tpl-table-images-content-block">
                                        <div class="tpl-i-font">

                                        </div>
                                        <div class="tpl-i-more">

                                        </div>
                                        <div class="am-btn-toolbar">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                                <div class="tpl-table-images-content">
                                    <div class="tpl-table-images-content-i-time">发布时间：2017-01-12</div>
                                    <div class="tpl-i-title">
                                        草莓大棚——摄像头2
                                    </div>
                                    <a href="" class="tpl-table-images-content-i"
                                        <span class="tpl-table-images-content-i-shadow"></span>
									<div id="videoPlay2" style="width: 700px;height: 393px;"></div>

                                    </a>
                                    <div class="tpl-table-images-content-block">
                                        <div class="tpl-i-font">

                                        </div>
                                        <div class="tpl-i-more">

                                        </div>
                                        <div class="am-btn-toolbar">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                                <div class="tpl-table-images-content">
                                    <div class="tpl-table-images-content-i-time">发布时间：2017-01-12</div>
                                    <div class="tpl-i-title">
                                        草莓大棚——摄像头3
                                    </div>
                                    <a href="" class="tpl-table-images-content-i"
                                        <span class="tpl-table-images-content-i-shadow"></span>
									<div id="videoPlay3" style="width: 700px;height: 393px;"></div>

                                    </a>
                                    <div class="tpl-table-images-content-block">
                                        <div class="tpl-i-font">

                                        </div>
                                        <div class="tpl-i-more">

                                        </div>
                                        <div class="am-btn-toolbar">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                                <div class="tpl-table-images-content">
                                    <div class="tpl-table-images-content-i-time">发布时间：2017-01-12</div>
                                    <div class="tpl-i-title">
                                        草莓大棚——摄像头4
                                    </div>
                                    <a href="" class="tpl-table-images-content-i"
                                        <span class="tpl-table-images-content-i-shadow"></span>
									<div id="videoPlay4" style="width: 700px;height: 393px;"></div>

                                    </a>
                                    <div class="tpl-table-images-content-block">
                                        <div class="tpl-i-font">

                                        </div>
                                        <div class="tpl-i-more">

                                        </div>
                                        <div class="am-btn-toolbar">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                                <div class="tpl-table-images-content">
                                    <div class="tpl-table-images-content-i-time">发布时间：2017-01-12</div>
                                    <div class="tpl-i-title">
                                        草莓大棚——摄像头5
                                    </div>
                                    <a href="" class="tpl-table-images-content-i"
                                        <span class="tpl-table-images-content-i-shadow"></span>
									<div id="videoPlay5" style="width: 700px;height: 393px;"></div>

                                    </a>
                                    <div class="tpl-table-images-content-block">
                                        <div class="tpl-i-font">

                                        </div>
                                        <div class="tpl-i-more">

                                        </div>
                                        <div class="am-btn-toolbar">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                                <div class="tpl-table-images-content">
                                    <div class="tpl-table-images-content-i-time">发布时间：2017-01-12</div>
                                    <div class="tpl-i-title">
                                        草莓大棚——摄像头6
                                    </div>
                                    <a href="" class="tpl-table-images-content-i"
                                        <span class="tpl-table-images-content-i-shadow"></span>
									<div id="videoPlay6" style="width: 700px;height: 393px;"></div>

                                    </a>
                                    <div class="tpl-table-images-content-block">
                                        <div class="tpl-i-font">

                                        </div>
                                        <div class="tpl-i-more">

                                        </div>
                                        <div class="am-btn-toolbar">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                            <div class="am-u-lg-12">
                                <div class="am-cf">


                                </div>
                                <hr>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="tpl-alert"></div>
            </div>










        </div>

    </div>



    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/amazeui.min.js"></script>
    <script src="../assets/js/app.js"></script>
    <script src="../ckplayer/ckplayer.js"></script>
    <script>
        $('#videolist').siblings('.tpl-left-nav-sub-menu').slideToggle(80)
            .end()
            .find('.tpl-left-nav-more-ico').toggleClass('tpl-left-nav-more-ico-rotate');
        $('#video3').addClass('active');
        $('#videolist').addClass('active');
        var flashvars;
        flashvars1={
            f: '../ckplayer/m3u8.swf',
            a: 'http://open.ys7.com/openlive/29cd653e05324053be40c3440459165a.m3u8', //此处填写购买获取到的视频播放地址
            c: 0,
            p: 1,
            s: 4,
            lv: 1
        };
        flashvars2={
            f: '../ckplayer/m3u8.swf',
            a: 'http://open.ys7.com/openlive/18a1be32c0954c2cb913c3fd930afdbc.m3u8', //此处填写购买获取到的视频播放地址
            c: 0,
            p: 1,
            s: 4,
            lv: 1
        };
        flashvars3={
            f: '../ckplayer/m3u8.swf',
            a: 'http://open.ys7.com/openlive/196567f1388b4c78bd775a10c5a611d6.m3u8', //此处填写购买获取到的视频播放地址
            c: 0,
            p: 1,
            s: 4,
            lv: 1
        };
        flashvars4={
            f: '../ckplayer/m3u8.swf',
            a: 'http://open.ys7.com/openlive/ac84d9ee4c6c4c84bf5754d68967cb32.m3u8', //此处填写购买获取到的视频播放地址
            c: 0,
            p: 1,
            s: 4,
            lv: 1
        };
        flashvars5={
            f: '../ckplayer/m3u8.swf',
            a: 'http://open.ys7.com/openlive/acbb665a956b4d8099bee25f5f99172b.m3u8', //此处填写购买获取到的视频播放地址
            c: 0,
            p: 1,
            s: 4,
            lv: 1
        };
        flashvars6={
            f: '../ckplayer/m3u8.swf',
            a: 'http://open.ys7.com/openlive/828cefbe9bde40a4ae6fc2f17eee92c2.m3u8', //此处填写购买获取到的视频播放地址
            c: 0,
            p: 1,
            s: 4,
            lv: 1
        };
        var params = {bgcolor: '#FFF', allowFullScreen: true, allowScriptAccess: 'always', wmode: 'transparent'};
        CKobject.embedSWF("../ckplayer/ckplayer.swf", "videoPlay1", "video", "100%", "100%", flashvars1, params);
        CKobject.embedSWF("../ckplayer/ckplayer.swf", "videoPlay2", "video", "100%", "100%", flashvars2, params);
        CKobject.embedSWF("../ckplayer/ckplayer.swf", "videoPlay3", "video", "100%", "100%", flashvars3, params);
        CKobject.embedSWF("../ckplayer/ckplayer.swf", "videoPlay4", "video", "100%", "100%", flashvars4, params);
        CKobject.embedSWF("../ckplayer/ckplayer.swf", "videoPlay5", "video", "100%", "100%", flashvars5, params);
        CKobject.embedSWF("../ckplayer/ckplayer.swf", "videoPlay6", "video", "100%", "100%", flashvars6, params);
    </script>
</body>

</html>
